@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-marcellus: "Marcellus", serif;
  --font-jost: "Jost", sans-serif;
}

.font-marcellus {
  font-family: var(--font-marcellus);
}

.font-jost {
  font-family: var(--font-jost);
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
